.b-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease-out;

    @media (max-width: 767px) {
        position: static;
        display: block
    }

    .m-stuck & {
        background-color: var(--color-bg);
    }

    img {
        filter: saturate(0%);
        height: auto;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        width: 400px;

        @media (max-width: 767px) {
            opacity: 1;
            width: 100%;
        }

        .m-stuck & {
            opacity: 1;
        }
    }

    &-logo_link {
        pointer-events: none;

        .m-stuck & {
            pointer-events: auto;
        }
    }

    &-logo_link:hover img {
        filter: saturate(100%);
    }
}
