@use "sass:math";

.b-music {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 767px) {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    &-link {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        text-decoration: none;

        &:hover .b-music-title {
            transform: rotate(1deg);
        }

        &:hover .b-music-year {
            transform: rotate(-2deg);
        }

        &:hover .b-music-type {
            transform: rotate(-1deg);
        }
    }

    &-title {
        font-size: 24px;
        background-image: url('https://media.publit.io/file/pinheadgunpowder/paper.png');
        background-color: var(--color-text-dimmed);
        background-size: cover;
        color: var(--color-bg);
        font-weight: 600;
        padding: 10px 10px;
        clip-path: polygon(57% 3%,100% 1%,99% 40%,95% 88%,1% 100%,0 2%);

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    &-info {
        font-size: 16px;
        font-weight: 600;
        font-family: var(--font-regular);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: var(--color-text-dimmed);
    }

    &-year,
    &-type {
        background: var(--color-dark) url('https://media.publit.io/file/pinheadgunpowder/paper.png');
        padding: 4px;
        transform: rotate(1deg);
        clip-path: polygon(57% 3%, 100% 1%, 99% 40%, 95% 88%, 1% 100%, 0 2%);
    }

    &-image {
        position: relative;
        overflow: hidden;

        img {
            filter: brightness(0.8);
            aspect-ratio: 1 / 1;
            height: auto;
            object-fit: cover;
            transition: filter 0.2s ease-out;
            width: 100%;

            a:hover & {
                filter: brightness(1.2);
            }
        }
    }
}
