.b-nav {
    &-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        list-style: none;
    }

    &-list_item {
        position: relative;
    }

    &-list_link {
        color: var(--color-text-dimmed);
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 30px;
        line-height: 1;
        padding: 2px 5px;

        &::after {
            z-index: 3;
            background-size: contain;
            background-position: 0 0;
            background-repeat: no-repeat;
            content: '';
            height: 26px;
            left: 0;
            position: absolute;
            top: 70%;
            width: 100%;
            transition: clip-path 0.2s ease-out;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        }

        span {
            display: block;
            z-index: 1;
            background: 0 0;
        }

        &:hover {
            color: var(--color-bg);
            background: var(--color-secondary) url('https://media.publit.io/file/pinheadgunpowder/paper.png');
        }
    }
}
