.b-title {
    color: var(--color-secondary);
    font-size: 46px;
    font-weight: 400;
    margin: 10px 0 20px;
    text-align: center;

    @media (max-width: 767px) {
        position: static;
    }

    span {
        position: relative;
        display: inline-block;

        &::before {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            content: '';
            height: 26px;
            left: 0;
            position: absolute;
            top: 70%;
            width: 100%;
            pointer-events: none;
        }
    }

    &.m-1 {
        color: var(--color-text-dimmed);
    }


    &.m-2 {
        color: var(--color-text-dimmed);
    }


    &.m-3 {
        color: var(--color-text-dimmed);
    }


    &.m-4 {
        color: var(--color-text-dimmed);
    }
}
