<div class="b-band-item">
    <img
        src="{{ item.image }}"
        loading="lazy"
        width="300"
        height="400"
        alt="{{ item.name }}"
    >
    <div class="b-band-label">
        <div class="b-band-name">{{ item.name }}</div>
        <span class="b-band-type">{{ item.role }}</span>
    </div>
</div>
