<div class="col-span-6 flex flex-col text-center lg:col-span-3 xl:col-span-3">
    <img
        src="{{ item.image }}"
        loading="lazy"
        width="300"
        height="400"
        alt="{{ item.name }}"
        class="mx-auto hover:scale-120 hover:rotate-5"
    >
    <div class="-mt-5 flex flex-col">
        <div>
            <span class="bg-secondary custom-bg-paper inline-block rotate-2 px-3 py-1 text-3xl font-bold uppercase">
                {{- item.name -}}
            </span>
        </div>
        <div>
            <span class="custom-bg-paper inline-block -rotate-2 bg-red-950 px-4 py-1 text-lg font-medium uppercase">
                {{- item.role -}}
            </span>
        </div>
    </div>
</div>
