<div class="col-span-6 flex flex-col gap-2 lg:col-span-3 xl:col-span-3">
    <a
        class="text-primary block brightness-90 hover:text-white hover:brightness-110"
        href="https://www.youtube.com/watch?v={{ item.videoId }}"
    >
        <div class="block rotate-2">
            <img
                src="https://i.ytimg.com/vi/{{ item.videoId }}/hqdefault.jpg"
                loading="lazy"
                alt="{{ item.title }}"
                class="mx-auto aspect-video w-full object-cover"
            >
        </div>

        <div class="text-md custom-bg-paper -rotate-1 bg-black px-2 py-1 font-medium text-inherit">
            {{ item.title }}
        </div>
    </a>
</div>
