<div class="b-video-item">
    <a class="b-video-link" href="https://www.youtube.com/watch?v={{ item.videoId }}">
        <div class="b-video-image">
            <img
                src="https://i.ytimg.com/vi/{{ item.videoId }}/hqdefault.jpg"
                loading="lazy"
                alt="{{ item.title }}"
            />
        </div>

        <div class="b-video-title">{{ item.title }}</div>
    </a>
</div>
