<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pinhead Gunpowder</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/photoswipe.css">
        <link rel="shortcut icon" href="favicon.ico?v=2" type="image/x-icon">
        <script src="js/main.js" type="module"></script>
    </head>
    <body class="b-page">
        <header class="b-header">
            <div class="b-header-logo">
                <a class="b-header-logo_link" href="#top">
                    <img src="https://media.publit.io/file/pinheadgunpowder/logo-m.webp" width="680" height="58" alt="">
                </a>
            </div>

            <div class="b-nav">
                <ul class=b-nav-list>
                    {%- for item in sections -%}
                        <li class="b-nav-list_item">
                            <a class="b-nav-list_link m-{{ forloop.index }}" href="#{{item.id}}">
                                <span>{{ item.name }}</span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </header>

        <div id="top" class="b-logo">
            <div class="b-logo-image">
                <img
                    class="b-logo-in"
                    src="https://media.publit.io/file/pinheadgunpowder/logo.webp"
                    width="694"
                    height="111"
                    alt="Pinhead Gunpowder"
                >
            </div>
        </div>

        <div id="sticky"></div>

        <main class="l-base-main">
            <section id="band" class="l-base-section">
                <h1 class="b-title m-1"><span>Band</span></h1>

                <div class="l-base-container b-band">
                    {%- assign bandData = band | reverse -%}
                    {%- for item in bandData -%}
                        {%- include 'bandItem' -%}
                    {%- endfor -%}
                </div>
            </section>

            <section id="music" class="l-base-section">
                <h1 class="b-title m-2"><span>Music</span></h1>

                <div class="l-base-container b-music">
                    {%- assign musicData = music | reverse -%}
                    {%- for item in musicData -%}
                        {%- include 'musicItem' -%}
                    {%- endfor -%}
                </div>
            </section>

            <section id="video" class="l-base-section">
                <h1 class="b-title m-3"><span>Video</span></h1>

                <div class="l-base-container b-video">
                    {%- assign videoData = video | reverse -%}
                    {%- for item in videoData -%}
                        {%- include 'videoItem' -%}
                    {%- endfor -%}
                </div>
            </section>

            <section id="photos" class="l-base-section">
                <h1 class="b-title m-4"><span>Photos</span></h1>

                <div class="l-base-container b-photo">
                    {%- assign photoData = photos | reverse -%}
                    {%- for item in photoData -%}
                        {%- include 'photosItem' -%}
                    {%- endfor -%}
                </div>
            </section>
        </main>
    </body>
</html>
