---
layout: page.liquid
---

<section class="scroll-mt-25">
    <h1 class="sr-only">Youtube</h1>
    <iframe class="aspect-video" width="100%" src="https://www.youtube.com/embed/lhagiLhE4Ok?si=pI3ZRrd0-cA6pGxW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<section id="band" class="scroll-mt-25">
    <h1 class="sr-only">Band</h1>
    <div class="grid grid-cols-12 gap-4">
        {%- assign bandData = band | reverse -%}
        {%- for item in bandData -%}
            {%- include 'bandItem' -%}
        {%- endfor -%}
    </div>
</section>
<section id="music" class="scroll-mt-25">
    <h1 class="sr-only">Music</h1>
    <div class="grid grid-cols-12 gap-6">
        {%- assign musicData = music | reverse -%}
        {%- for item in musicData -%}
            {%- include 'musicItem' -%}
        {%- endfor -%}
    </div>
</section>
<section id="video" class="scroll-mt-25">
    <h1 class="sr-only">Video</h1>
    <div class="grid grid-cols-12 gap-4">
        {%- assign videoData = video | reverse -%}
        {%- for item in videoData -%}
            {%- include 'videoItem' -%}
        {%- endfor -%}
    </div>
</section>
